@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Основной контент--------------------------------------------------------------------------- */

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
}

.content {
  /* min-width: 1366px; */
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  /* width: 100%; */
  /* padding: 0 15px; */
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 500;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .header-menu__navigation {
    flex-wrap: wrap;
  }
  .box__row_flex {
    flex-wrap: wrap;
    width: 100%;
  }
  .footer__column {
    flex-wrap: wrap;
    width: 100%;
  }
}

body {
  background-color: #e9e9e9;
}
.header {
  padding: 40px 0 200px 0;
}

.header-menu {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  margin-bottom: 50px;
}
.header-menu__navigation-link > a {
  font-size: 25px;
  font-family: "Montserrat";
  color: #353535;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.header-menu__navigation-link > a::after {
  content: "";
  display: block;
  height: 2px;
  width: 2px;
  /* border-bottom: 2px solid #1ecbc6; */
  margin: 10px auto;
  transition: 0.7s;
}
.header-menu__navigation-link > a:hover:after {
  content: "";
  width: 100%;
  background-color: #1ecbc6;
}
.header-menu__navigation-link > a:active {
  color: #1ecbc6;
}

.header-block {
  display: flex;
  justify-content: center;
  padding-top: 170px;
}
.header-block__column {
  max-width: 450px;
}
.header-block__title {
  font-size: 38px;
  font-family: "Montserrat";
  color: rgb(29, 29, 29);
  line-height: 1.263;
}
.header-block__subtitle {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(120, 120, 120);
  line-height: 1.556;
  margin: 30px 0;
}
.header-block__link {
  color: #effbfb;
  background-color: #1ecbc6;
  padding: 20px 45px;
  display: inline-block;
  /* inline block чтобы элемент блок стоя на равне с блоком */
  transition: 0.6s;
}
.header-block__link span {
  text-decoration: none;
  text-transform: uppercase;
}
.header-block__link:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  /* inline block чтобы элемент блок стоя на равне с блоком */
}
/* Следующий блок Skills   ------------------------------------------------------------------------ */
.skills {
  background-color: #f5f5f5;
  display: flex;
}
.skills__column {
  max-width: 500px;
  padding: 164px 14px 164px 0;
}
.skills__title {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(23, 23, 23);
  line-height: 2;
  text-align: cente1.5;
}

.skills__subtitle {
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 2.5;
  padding: 40px 0 20px 0;
  border-bottom: 3px solid #d8d8d8;
  position: relative;
  font-weight: 500;
}

.skills__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #1ecbc6;
  bottom: -3px;
  left: 0;
}

.skills__subtitle:nth-child(2)::after {
  width: 0%;
  height: 3px;
  transition: 1.5s;
}
.skills__subtitle:nth-child(2):hover::after {
  width: 75%;
  height: 3px;
}
.skills__subtitle:nth-child(3)::after {
  width: 0%;
  height: 3px;
  transition: 1.5s;
}
.skills__subtitle:nth-child(4)::after {
  width: 0%;
  height: 3px;
  transition: 1.5s;
}
.skills__subtitle:nth-child(3):hover::after {
  width: 90%;
  height: 3px;
}
.skills__subtitle:nth-child(4):hover:after {
  width: 65%;
  height: 3px;
}

/* следующий блок контакт форм ---------------------------------- */
*:focus {
  outline: none;
}
/* required pattern="[Bb]anana|[Cc]herry */
/* input:invalid:required {
  border: 2px solid red;
} */
.form-contact {
  background-color: #f5f5f5;
  padding: 100px 0;
}

.contact-form {
  max-width: 680px;
  margin: 0 auto;
}

.contact-form__list {
}
.contact-form__list > h2 {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(29, 29, 29);
  line-height: 2.8;
  text-align: center;
}
.contact-form__list > li {
  text-align: center;
}
.contact-form__list > li {
  margin-top: 30px;
}
.contact-form__list li > p {
  font-size: 16px;
  font-family: "NunitoSans";
  color: rgb(120, 120, 120);
  line-height: 1.5;
}
.contact-form-link {
  width: 320px;
  padding: 17px 0 17px 21px;
}
.contact-form-link:focus {
  -webkit-box-shadow: 6px -2px 63px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 6px -2px 63px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 6px -2px 63px 2px rgba(34, 60, 80, 0.2);
}
.contact-form__list > li:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.contact-form-title {
  width: 100%;
}
.contact-form-message {
  resize: none;
  width: 100%;
  height: 170px;
}
.contact-form-send {
  text-transform: uppercase;
  color: white;
  background-color: #1ecbc6;
  padding: 22px 35px;
}
.contact-form-send:hover {
  cursor: pointer;
}
